<%= link_to '新規登録', new_task_path, {class: "btn btn-default", remote: true} %>
<div id="todo-list"><%= render 'list', tasks: @tasks %></div>
<div id="todo-modal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog"></div>
