.header
  .header__wrapper
    TaskManagement
    .header__wrapper__element
      .top_page
        = link_to 'Top Page', root_path, class: "header_menu"
    .header__wrapper__element
      .new_task
        = link_to 'New Task', new_todo_path, class: "header_menu"
    .header__wrapper__element
      .log-out
        = link_to 'Log Out', destroy_user_session_path, method: :delete, class: "header_menu"
