
/* base */

body, html {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}



/* body */

body > .body-inner {
  display: flex;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}


/* account-switcher */

.account-switcher {
  background-color: #202a33;
  height: 100%;
  width: 64px; }

.accounts-item {
  border-left: solid 4px transparent;
  margin-top: 16px;
  padding-left: 12px;
  padding-right: 12px; }

.accounts-item-selected {
  border-left-color: #fff; }

.accounts-item-avatar {
  border-radius: 3px;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle; }

.accounts-item-key {
  color: #636a71;
  font-size: 12px;
  margin-top: 2px;
  text-align: center; }



/* context-switcher */

.context-switcher {
  background-color: #303e4d;
  height: 100%;
  width: 220px; }

.account-screen-name {
  color: #fff;
  font-size: 20px;
  padding: 16px; }

.account-list {
  border-radius: 0 3px 3px 0;
  color: #aaa;
  cursor: pointer;
  margin-right: 16px;
  padding-left: 16px; }

.account-list:hover {
    background-color: #3f4c5b; }

.account-list-selected {
    background-color: #6698c8;
    color: #fff; }

.account-lists {
  font-size: 1.6rem;
  padding-bottom: 16px;
  padding-top: 16px;
}

.account-lists-heading {
  color: #aaa;
  font-weight: normal;
  padding-left: 16px;
}



/* main */

.main {
  color: #333;
  flex: 1;
  font-size: 14px;
  height: 100%;
  padding: 16px;
  width: 100%;
}

.editor {
  border-radius: 0 3px 3px 0;
}

.editor-counter {
  display: inline-block;
  margin-left: 4px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.editor-submit-button {
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  padding: 6px 12px;
  position: relative;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border-color: #d5d5d5;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: none;
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.editor-submit-button:active, .editor-submit-button:hover {
  background-color: #ddd;
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc;
  text-decoration: none;
}
.editor-submit-button:active, .editor-submit-button.selected {
  background-color: #dcdcdc;
  background-image: none;
  border-color: #b5b5b5;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}
.editor-submit-button:disabled, .editor-submit-button:disabled:hover, .editor-submit-button.disabled, .editor-submit-button.disabled:hover {
  background-color: rgba(229, 229, 229, 0.5);
  background-image: none;
  border-color: rgba(197, 197, 197, 0.5);
  box-shadow: none;
  color: rgba(102, 102, 102, 0.5);
  cursor: default;
}
.editor-submit-button:focus {
  border-color: #51a7e8;
  box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
  outline: none;
  text-decoration: none;
}
.editor-submit-button:focus:hover, .editor-submit-button.selected:focus {
  border-color: #51a7e8;
}
.editor-submit-button.selected:hover {
  background-color: #cfcfcf;
}
.editor-submit-button:hover {
  background-color: #569e3d;
  background-image: linear-gradient(#79d858, #569e3d);
  border-color: #4a993e;
  color: #fff;
}
.editor-submit-button:active, .editor-submit-button.selected {
  background-color: #569e3d;
  background-image: none;
  border-color: #418737;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.editor-submit-button.selected:hover {
  background-color: #4c8b36;
}
.editor-submit-button:disabled, .editor-submit-button:disabled:hover, .editor-submit-button.disabled, .editor-submit-button.disabled:hover {
  background-color: #add39f;
  background-image: linear-gradient(#c3ecb4, #add39f);
  border-color: #b9dcac #b9dcac #a7c89b;
  color: #fefefe;
}

.editor-textarea {
  border: solid 1px #ddd;
  border-radius: 3px;
  line-height: 1.5;
  padding: 8px;
  resize: none;
  width: 100%;
}



/* tweets */

.tweets {
  margin-top: 16px;
}

.tweets-item {
  display: flex;
}

.tweets-item + .tweets-item {
  margin-top: 16px;
}

.tweets-item-avatar {
  border-radius: 3px;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
}

.tweets-item-datetime {
  color: #aaa;
}

.tweets-item-display-name {
  font-weight: bold;
}

.tweets-item-header {
  display: flex;
}

.tweets-item-main {
  flex: 1;
}

.tweets-item-names {
  margin-right: auto;
}

.tweets-item-screen-name {
  color: #aaa;
}

.tweets-item-sub {
  margin-right: 12px;
}



